<section class="hero">
  <h1 class="d-flex flex-row gap-4 align-items-center" #title>FAQ</h1>
</section>
<section class="second-sec">
  <div class="card">
    <div class="section-desc">
      <h2>Frequently Asked Questions (FAQ)</h2>
      <ul>
        <li>
          <span class="bold">What is IWT?</span><br />
          - IndoWealth Token (IWT) is the world’s first cryptocurrency backed by
          a land reclamation and development project, specifically the New Batam
          Centre Land Reclamation and Development Project (NBC Land) in
          Indonesia.
        </li>
        <li>
          <span class="bold">How does IWT work?</span><br />
          - IWT operates on the Solana blockchain, offering high transaction
          speeds and low fees. The token's value is securely linked to the NBC
          Land project, ensuring that it is always backed by a tangible asset.
        </li>
        <li>
          <span class="bold">How do I contact IWT support?</span><br />
          - You can contact IWT support via the “Contact Us” link at the bottom
          of the IndoWealth Group website, or through our Telegram Community and
          Twitter (X) account, accessible via the icons beneath the Contact Us
          link.
        </li>
        <li>
          <span class="bold">What are the benefits of investing in IWT?</span
          ><br />
          - Investing in IWT offers the security of real-world asset backing,
          significant growth potential, transparency through regular project
          updates and efficient, low-cost transactions on the Solana blockchain.
        </li>
        <li>
          <span class="bold">How can I stay updated on IWT news?</span><br />
          - Stay updated by clicking “Blogs and Announcements” on the IndoWealth
          Group website or through our Telegram Community and Twitter (X)
          account, accessible via the icons beneath the “Contact Us” link.
        </li>
        <li>
          <span class="bold">What is the NBC Land Project?</span><br />
          - The NBC Land Project is a 100-hectare land reclamation and
          development project on the north-eastern tip of Batam Island,
          Indonesia. It will feature a new ferry terminal and a self-contained
          tropical island with world-class amenities aimed at high-net-worth
          individuals, corporations, and tourists. Managed by China
          Communications Construction Company Limited (CCCC) and PT Synergy
          Tharada, it offers a competitive alternative to Singapore’s real
          estate market and is expected to have an initial Gross Development
          Value (GDV) of USD 3.2 billion, with a final GDV of USD 17.8 billion.
        </li>
        <li>
          <span class="bold"
            >Where can I review documentation for IWT and NBC Land?</span
          ><br />
          - Documentation, including the IWT White Paper and additional details
          on the NBC Land project, is available on the IndoWealth Group website.
        </li>
        <li>
          <span class="bold">Do I need a wallet for IWT?</span><br />
          - Yes, a cryptocurrency wallet compatible with the Solana blockchain
          is required to store and manage your IWT tokens.
        </li>
        <li>
          <span class="bold">Is IWT linked to other projects?</span><br />
          - IWT is specifically linked to the NBC Land project, which has
          partnerships with significant entities including China Communications
          Construction Company Limited (CCCC) and PT Synergy Tharada.
        </li>
        <li>
          <span class="bold">What gives IWT value?</span><br />
          - IWT’s value is underpinned by the assets and development of the NBC
          Land project, expected to appreciate due to its strategic location and
          world-class infrastructure.
        </li>
        <li>
          <span class="bold">How do I start investing with IWT?</span><br />
          - To start investing, you may participate in the token offering and
          purchase IWT using a compatible wallet when it is listed.
        </li>
        <li>
          <span class="bold">When is IWT listing?</span><br />
          - The projected listing date for IWT is November 15th, 2024, with
          confirmation to be made via announcements on the IndoWealth Group
          website and our Telegram Community and Twitter (X) account.
        </li>
        <li>
          <span class="bold"
            >What are the fees associated with investing in IWT?</span
          ><br />
          - Fees are minimal, primarily involving low transaction fees on the
          Solana blockchain, significantly lower than those on other blockchains
          like Ethereum.
        </li>
        <li>
          <span class="bold">What can I do with my IWT?</span><br />
          - IWT can be held as an investment or traded for profit on
          cryptocurrency exchanges after its listing.
        </li>
        <li>
          <span class="bold">What are the ways I can get IWT?</span><br />
          - IWT can be obtained through purchasing upon listing or via airdrops
          and giveaways organized by IndoWealth Group.
        </li>
        <li>
          <span class="bold"
            >How do I participate in giveaways and airdrops?</span
          ><br />
          - Participation in giveaways and airdrops is mainly done through our
          Telegram bot game and watching for announcements on our Telegram
          Community and Twitter (X) account.
        </li>
      </ul>
    </div>
  </div>
</section>
