.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 8.8rem;
  background: linear-gradient(0.25turn, #d10600, #6b0300);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @media (min-width: 768px) {
    height: 10rem;
  }

  .logo {
    display: flex;
    align-items: center;
    font-family: "BebasNeue-Regular";

    img {
      height: 4rem;
      margin-right: 1rem;
    }

    span {
      font-size: 1.4rem;

      @media (min-width: 768px) {
        display: inline-block;
        font-size: 2rem;
      }
    }
  }

  .hamburger {
    font-size: 2rem;
    cursor: pointer;

    img {
      height: 3rem;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 3rem);
    background: rgba(209, 6, 0, 0.36);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #da9915;
    padding: 1rem;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .desktop-controls {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 10rem);
      background: rgba(209, 6, 0, 0.36);
      border-radius: 2rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid #da9915;
      margin-left: 3.5rem;
      padding: 3rem;
      height: 7rem;

      .nav-list {
        display: flex;
        flex-grow: 0.5;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-size: 1rem;
        color: #fff;
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          position: relative;

          &:hover {
            .text,
            a {
              color: #da9915;
            }
          }

          a {
            white-space: nowrap;
            position: relative;
            display: flex;
            align-items: center;
            padding: 0.5rem 0.5rem;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.5rem;
            color: #fff;
            font-family: "source-sans-pro";

            .text {
              position: relative;
              height: 6rem;
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              color: #fff;
              font-family: "source-sans-pro";
            }

            &.active {
              background-color: #da9915; /* Yellow background for active item */
            }

            &.active + .submenu {
              display: block;
              position: fixed;
              top: 6rem; /* Position submenu under the main header */
              left: 0;
              width: 100%;
              background-color: #da9915; /* Yellow background for submenu */
              z-index: 999; /* Ensure it's above other content */
              border-top: 0.5rem solid #da9915; /* Visual connection with active item */
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            }
          }

          .submenu {
            display: none;
            padding: 1rem 0;
            transition: max-height 0.3s ease, opacity 0.3s ease;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            background-color: #da9915; /* Yellow background for submenu */

            &.open {
              display: flex !important;
              flex-direction: row;
              max-height: none;
              opacity: 1;
              justify-content: space-around; /* Arrange items in a row */
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            }

            li {
              a {
                display: flex;
                align-items: center;
                padding: 0.5rem 2rem;
                font-size: 1.5rem;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.05em;
              }
            }
          }

          &.has-submenu.open .submenu {
            display: flex;
            height: auto;
            opacity: 1;
          }
        }
      }

      .search {
        margin-right: 2rem;

        input {
          padding: 0.5rem 1rem;
          font-size: 1.6rem;
        }
      }

      .auth-buttons {
        display: flex;
        gap: 1rem;
        margin-right: 2rem;

        a {
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .social-icons {
        display: flex;
        gap: 1rem;

        img {
          height: 2.5rem;
        }
      }
    }
  }
}

/* Mobile Navbar */
.mobile-navbar {
  position: fixed;
  top: 8.8rem;
  left: 0;
  width: 100%;
  height: 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(107, 79, 15, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow: hidden;
  z-index: 1000;
  transition: height 0.3s ease;

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    font-family: "source-sans-pro";
    padding: 2rem;
    padding-top: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;

    li {
      margin: 1rem 0; /* Adjust margin for spacing */
      position: relative;

      a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        display: block; /* Ensure the link covers the full width */
        padding: 1rem 0; /* Padding inside the link */
      }

      &.has-submenu {
        .sub-menu {
          height: 0; /* Hide submenu initially */
          overflow: hidden;
          opacity: 0;
          transition: height 0.3s ease, opacity 0.3s ease;
          list-style: none;
          background: #da9915;
          padding: 0;
        }

        &.open .sub-menu {
          height: auto; /* Adjust based on content height */
          opacity: 1;
          margin-top: 1rem;
        }
      }
    }
  }

  &.open {
    height: auto; /* Adjust height to fit content */
    max-height: 100vh; /* Prevent navbar from growing too tall */
    padding-bottom: 2rem; /* Optional bottom padding */
    .nav-list {
      opacity: 1;
    }
  }

  &.closed {
    height: 0; /* Collapse height when closed */
    .nav-list {
      opacity: 0;
    }
  }
}

/* Desktop Navbar */
.desktop-navbar {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 9rem;
  height: calc(100vh - 10rem);
  background: linear-gradient(#d10600, #6b0300);
  transition: width 0.3s ease;
  z-index: 1000;
  overflow: hidden;

  .nav-list {
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 1rem;
      position: relative;

      &:hover {
        background: #6b0300;
      }

      a {
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        cursor: pointer;
        text-decoration: none;

        .text {
          position: relative;
          height: 6rem;
          display: flex;
          align-items: center;
          font-size: 2.5rem;
          color: #fff;
          font-weight: bold;
          font-family: "SourceSans3";
        }

        .icon {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 9rem;
          height: 5.4rem;
        }

        .img-fill {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #da9915;
          width: 5.4rem;
          height: 5.4rem;
          border-radius: 5px;
        }

        img {
          height: 1.5em;
        }

        &.active + .submenu {
          display: block;
        }
      }

      .submenu {
        display: none;
        background: #da9915;
        padding: 0rem;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        height: 0;
        opacity: 0;
        overflow: hidden;

        li {
          margin-bottom: 0.5rem;

          a {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;

            .logo {
              display: block;
            }
            .text {
              display: block;
              position: relative;
              height: 6rem;
              display: flex;
              align-items: center;
              font-size: 1em;
              color: #fff;
              text-transform: uppercase;
              letter-spacing: 0.05em;
            }
          }
        }
      }

      &.has-submenu.open .submenu {
        display: block;
        height: auto; /* Adjust as needed */
        opacity: 1;
      }
    }
  }

  &:hover {
    width: 30rem;

    .nav-list li {
      .logo {
        display: block;
      }
    }
  }
}

@media (max-width: 767px) {
  .desktop-navbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  #content {
    margin-top: 8rem;
    margin-left: 5rem;
    padding: 2rem;
    overflow-y: auto;
    transition: margin-left 0.3s ease;

    .desktop-navbar:hover & {
      margin-left: 15rem;
    }
  }
}
