<!-- Header -->
<div class="header">
  <div class="controls">
    <div class="logo">
      <img src="assets/logo3.PNG" alt="Logo" />
      <span>Indowealth Group</span>
    </div>
    <div class="hamburger" (click)="toggleMobileNavbar()">
      <img src="assets/hamburger.svg" alt="Menu" />
    </div>
  </div>
  <div class="desktop-controls">
    <div class="logo">
      <img src="assets/logo3.PNG" alt="Logo" />
      <span>Indowealth Group</span>
    </div>
    <ul class="nav-list">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li class="has-submenu">
        <a> Who We Are </a>
        <ul class="submenu">
          <li>
            <a routerLink="">OUR TEAM</a>
          </li>
          <li>
            <a routerLink="/mission">Mission</a>
          </li>
          <li>
            <a routerLink="/vision">Vision</a>
          </li>
        </ul>
      </li>
      <li class="has-submenu">
        <a>What We Do</a>
        <ul class="submenu">
          <li>
            <a routerLink="/trading">$IWT</a>
          </li>
          <li>
            <a routerLink="/nbc">NBC LAND</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/blogs">Blog and Announcements</a>
      </li>
      <li class="has-submenu">
        <a>Learn More</a>
        <ul class="submenu">
          <li>
            <a routerLink="">WHITEPAPER</a>
          </li>
          <li>
            <a routerLink="">DOCUMENTATION</a>
          </li>
          <li>
            <a routerLink="">FAQ</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="social-icons">
      <a
        href="https://t.me/IndoWealthOfficial"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/telegram.svg" alt="Social 1"
      /></a>
      <a
        href="https://x.com/indowealthgroup?s=21"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/x.svg" alt="Social 2"
      /></a>
    </div>
  </div>
</div>

<!-- Mobile Navbar -->
<nav
  class="mobile-navbar"
  [class.open]="isMobileNavbarOpen"
  [class.closed]="!isMobileNavbarOpen"
>
  <ul class="nav-list">
    <li>
      <a routerLink="/home" (click)="toggleMobileNavbar()">Home</a>
    </li>
    <li
      class="has-submenu"
      (click)="toggleMobileSubmenu()"
      [class.open]="isMobileSubmenuOpen"
    >
      <a>Who We Are</a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/trading" (click)="toggleMobileNavbar()">Our Team</a>
        </li>
        <li>
          <a routerLink="/mission" (click)="toggleMobileNavbar()">Mission</a>
        </li>
        <li>
          <a routerLink="/vision" (click)="toggleMobileNavbar()">Vision</a>
        </li>
      </ul>
    </li>
    <li
      class="has-submenu"
      (click)="toggleMobileSubmenu2()"
      [class.open]="isMobileSubmenuOpen2"
    >
      <a>What We Do</a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/trading" (click)="toggleMobileNavbar()">$IWT</a>
        </li>
        <li>
          <a routerLink="/nbc" (click)="toggleMobileNavbar()">NBC Land</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/blogs" (click)="toggleMobileNavbar()"
        >Blog & Announcements</a
      >
    </li>
    <li
      class="has-submenu"
      (click)="toggleMobileSubmenu3()"
      [class.open]="isMobileSubmenuOpen3"
    >
      <a>Learn More</a>
      <ul class="sub-menu">
        <li>
          <a routerLink="" (click)="toggleMobileNavbar()">WHITEPAPER</a>
        </li>
        <li>
          <a routerLink="" (click)="toggleMobileNavbar()">DOCUMENTATION</a>
        </li>
        <li>
          <a routerLink="" (click)="toggleMobileNavbar()">FAQ</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!-- Desktop Navbar -->
<!-- <nav class="desktop-navbar">
  <ul class="nav-list">
    <li>
      <a routerLink="/home">
        <span class="icon">
          <span class="img-fill">
            <img src="assets/home.svg" alt="Home" />
          </span>
        </span>
        <span class="text">Home</span>
      </a>
    </li>
    <li
      class="has-submenu"
      (click)="toggleDesktopSubmenu()"
      [class.open]="isDesktopSubmenuOpen"
    >
      <a>
        <span class="icon">
          <span class="img-fill">
            <img src="assets/company.svg" alt="What We Do" />
          </span>
        </span>
        <span class="text">Who Are We</span>
      </a>
      <ul class="submenu">
        <li>
          <a routerLink="/about">
            <span class="icon">
              <span class="img-fill">
                <img src="assets/about.svg" alt="About" />
              </span>
            </span>
            <span class="text">About</span>
          </a>
        </li>
        <li>
          <a routerLink="/trading">
            <span class="icon">
              <span class="img-fill">
                <img src="assets/trading.svg" alt="Trading" />
              </span>
            </span>
            <span class="text">$IWT</span>
          </a>
        </li>

        <li>
          <a routerLink="/mission">
            <span class="icon">
              <span class="img-fill">
                <img src="assets/about.svg" alt="Team" />
              </span>
            </span>
            <span class="text">Mission</span>
          </a>
        </li>
        <li>
          <a routerLink="/vision">
            <span class="icon">
              <span class="img-fill">
                <img src="assets/about.svg" alt="Team" />
              </span>
            </span>
            <span class="text">Vision</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/home">
        <span class="icon">
          <span class="img-fill">
            <img src="assets/we.svg" alt="Home" />
          </span>
        </span>
        <span class="text">What We Do</span>
      </a>
    </li>

    <li>
      <a routerLink="/blogs">
        <span class="icon">
          <span class="img-fill">
            <img src="assets/blog.svg" alt="Blogs" />
          </span>
        </span>
        <span class="text">Blogs</span>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span class="icon">
          <span class="img-fill">
            <img src="assets/contact.svg" alt="Blogs" />
          </span>
        </span>
        <span class="text">Contact Us</span>
      </a>
    </li>
  </ul>
</nav> -->
