<!-- Header -->
<div class="header">
  <div class="controls">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" />
      <span>Indowealth Group</span>
    </div>
    <div class="hamburger" (click)="toggleMobileNavbar()">
      <img src="assets/hamburger.svg" alt="Menu" />
    </div>
  </div>
  <div class="desktop-controls">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" />
      <span>Indowealth Group</span>
    </div>
    <div class="social-icons">
      <img src="assets/telegram.svg" alt="Social 1" />
      <img src="assets/x.svg" alt="Social 2" />
      <img src="assets/email.svg" alt="Social 3" />
    </div>
  </div>
</div>

<!-- Mobile Navbar -->
<nav class="mobile-navbar" [class.open]="isMobileNavbarOpen">
  <ul class="nav-list">
    <li>
      <a routerLink="/home" (click)="toggleMobileNavbar()">Home</a>
    </li>
    <li class="has-submenu" (click)="toggleSubmenu($event)">
      <a>What We Do</a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/trading" (click)="toggleMobileNavbar()">Trading</a>
        </li>
        <li>
          <a routerLink="/mission" (click)="toggleMobileNavbar()">Mission</a>
        </li>
        <li>
          <a routerLink="/vision" (click)="toggleMobileNavbar()">Vision</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/blogs" (click)="toggleMobileNavbar()">
        Blogs & Announcement
      </a>
    </li>
  </ul>
</nav>

<!-- Desktop Navbar -->
<nav
  class="desktop-navbar"
  (mouseenter)="expandDesktopNavbar()"
  (mouseleave)="collapseDesktopNavbar()"
>
  <ul class="nav-list">
    <li>
      <a routerLink="/home">
        <div class="img-fill">
          <img src="assets/home.svg" alt="Home" />
        </div>
        <span>Home</span>
      </a>
    </li>
    <li class="has-submenu" (click)="toggleSubmenu($event)">
      <a>
        <div class="img-fill">
          <img src="assets/company.svg" alt="What We Do" />
        </div>
        <span>What We Do</span>
      </a>
      <ul class="submenu">
        <li><a routerLink="/about/company">Company</a></li>
        <li><a routerLink="/about/team">Team</a></li>
        <li><a routerLink="/about/careers">Careers</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/blogs">
        <div class="img-fill">
          <img src="assets/blog.svg" alt="Blogs" />
        </div>
        <span>Blogs</span>
      </a>
    </li>
  </ul>
</nav>
