<div class="footer-items">
  <div #item1 class="footer-item">
    <span class="item-header big">Indowealth Group</span>
    <ul class="item-links">
      <li><a routerLink="/blogs">Blog & Announcements</a></li>
    </ul>
  </div>

  <div #item2 class="footer-item">
    <span class="item-header">What We Do</span>
    <ul class="item-links">
      <li><a routerLink="/trading">Indowealth Token ($IWT)</a></li>
      <li><a routerLink="/nbc">NBC Land</a></li>
    </ul>
  </div>

  <div #item3 class="footer-item">
    <span class="item-header">Who We Are</span>
    <ul class="item-links">
      <li><a href="">Our Team</a></li>
      <li><a routerLink="/mission">Mission</a></li>
      <li><a routerLink="/vision">Vision</a></li>
    </ul>
  </div>
  <div #item4 class="footer-item">
    <span class="item-header">Learn More</span>
    <ul class="item-links">
      <li><a href="">Whitepaper</a></li>
      <li><a href="">Documentation</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  </div>
  <div #item5 class="footer-item">
    <span class="item-header"><a routerLink="/contact">Contact Us</a></span>
    <ul class="item-links">
      <li class="social-icons">
        <a
          href="https://x.com/indowealthgroup?s=21"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="assets/x.svg" alt="Social 1"
        /></a>
        <a
          href="https://t.me/IndoWealthOfficial"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="assets/telegram.svg" alt="Social 2"
        /></a>
      </li>
    </ul>
  </div>
</div>
