<div #item1 class="footer-item">
  <span class="item-header big">Indowealth Group</span>
  <ul class="item-links">
    <li><a routerLink="/blogs">Blogs & Announcement</a></li>
  </ul>
</div>
<div #item2 class="footer-item">
  <span class="item-header">About</span>
  <ul class="item-links">
    <li><a href="">Whitepaper</a></li>
    <li><a href="">Documentation</a></li>
    <li><a href="">Term of Use</a></li>
    <li><a href="">FAQ</a></li>
  </ul>
</div>
<div #item3 class="footer-item">
  <span class="item-header">Who We Are</span>
  <ul class="item-links">
    <li><a href="">Our Team</a></li>
    <li><a routerLink="/mission">Mission</a></li>
    <li><a routerLink="/vision">Vision</a></li>
  </ul>
</div>
<div #item4 class="footer-item">
  <span class="item-header">Contact</span>
  <ul class="item-links">
    <li><a href="">Collaborate</a></li>
    <li><a href="">Career</a></li>
    <li><a href="">Investments</a></li>
    <li class="social-icons">
      <img src="assets/x.svg" alt="Social 1" />
      <img src="assets/telegram.svg" alt="Social 2" />
    </li>
  </ul>
</div>
