.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  @media (min-width: 768px) {
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
  }
  width: 100%;
  .footer-item {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      padding-top: 20rem;
    }
    .item-header {
      color: #da9915;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      white-space: nowrap;
    }
    .item-header.big {
      font-size: 3rem;
    }
    .item-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: start;
      font-size: 1.2rem;
      color: #fff;
      li {
        padding: 1rem 0;
        font-size: 1.6rem;
      }
      .social-icons {
        display: flex;
        gap: 2rem;
        a {
          border-radius: 50%;
          transition: all 0.3s ease;
          &:hover {
            box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff,
              0 0 80px #fff, 0 0 120px #fff;
          }
        }
      }
      a {
        color: #fff;
        text-decoration: none;
        font-family: "SourceSans3";

        &:hover {
          color: #da9915;
        }
      }
    }
  }
}
