.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 9999;

  .spinner-container {
    position: relative;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    position: absolute;
    width: 100px; /* Same as spinner-container */
    height: 100px; /* Same as spinner-container */
    border: 10px solid red; /* Red spinner border */
    border-radius: 50%;
    border-top: 10px solid transparent; /* Creates the spinner effect */
    animation: spin 1s linear infinite; /* Spinner animation */
  }
  .logo {
    position: relative; /* Makes sure the logo does not inherit rotation */
    width: 70%; /* Adjust size of the logo */
    height: 70%; /* Adjust size of the logo */
    animation: resize 1s ease-in-out infinite; /* Logo resizing animation */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes resize {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
