.hero {
  min-height: calc(100vh - 8.8rem);
  @media (min-width: 768px) {
    min-height: calc(100vh - 10rem);
  }
  width: 100%;
  background: url("/assets/mobile_hero_bg.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    width: 25.7rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 768px) {
    background: url("/assets/hero_bg.svg") no-repeat center center center;
    min-height: calc(100vh - 6rem);
    align-items: flex-start;
    text-align: left;
    padding-left: 3rem;
    padding-top: 8rem;
    h1 {
      font-size: 6rem;
      width: 49.5rem;
    }
  }
}

.second-sec {
  background: url("/assets/about_mobile_bg.svg");
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 53.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  .card {
    background: rgba(209, 6, 0, 0.36);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #da9915;
    width: calc(100% - 1.5rem);
    img {
      height: 20rem;
    }
  }
  .section-desc-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    .section-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .section-desc-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #da9915;
    text-align: start;
    align-self: flex-start;
  }
  p {
    width: 31.8rem;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1rem;
  }
  padding-bottom: 3rem;
  @media (min-width: 768px) {
    background: linear-gradient(rgba(54, 29, 29, 0.6), rgba(54, 29, 29, 0.6)),
      url("/assets/about_bg.svg") no-repeat center center;
    min-height: 99.7rem;
    p {
      width: auto;
      padding: 1rem 0rem;
    }

    .card {
      background: rgba(209, 6, 0, 0.36);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid #da9915;
      padding: 3rem;
      width: calc(100% - 2rem);
      img {
        height: 30rem;
      }
    }

    .section-desc {
      margin-left: 4rem;
    }

    .section-desc-2 {
      p {
        padding: 0.5rem 3rem;
      }
      height: 40rem;
    }
    .section-desc-1,
    .section-desc-3 {
      flex-direction: row;
    }
  }
}
.card {
  visibility: hidden;
}
