.hero {
  min-height: calc(50vh - 8.8rem);
  width: 100%;
  background: url("/assets/about_hero_mobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  h1 {
    width: 25.7rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    margin-top: auto;
    margin-bottom: 2rem;
    margin-left: 7%;
  }
  @media (min-width: 768px) {
    background: url("/assets/about_hero.jpg") no-repeat center center;
    background-size: cover;
    min-height: calc(50vh - 10rem);
    align-items: flex-start;
    text-align: left;
    padding-left: 3rem;
    padding-top: 8rem;
    h1 {
      font-size: 10rem;
      width: 70.5rem;
      margin-left: 0;
    }
  }
}

.second-sec {
  background: #fff;
  width: 100%;
  min-height: 53.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  .card {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 6px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(215, 228, 229, 0.75);
    box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #da9915;
    width: calc(100% - 1.5rem);
    img {
      height: 20rem;
    }
    height: auto;
  }
  .section-desc-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    .section-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .section-desc-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #da9915;
    text-align: start;
    align-self: flex-start;
  }
  p {
    width: auto;
    font-size: 1.2rem;
    color: #000;
    margin-top: 1rem;
  }
  li {
    font-size: 1.7rem;
    font-family: "source-sans-pro-semi-bold";
    color: #000;
    list-style: circle;
  }
  ul {
    margin: 0;
  }
  padding-bottom: 3rem;
  @media (min-width: 768px) {
    background: #fff;
    min-height: 99.7rem;
    p {
      width: auto;
      padding: 1rem 0rem;
    }

    .card {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      border-radius: 16px;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(215, 228, 229, 0.75);
      box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #da9915;
      padding: 3rem;
      width: calc(100% - 10rem);
      height: auto;
      .section-img {
        grid-row: 1;
        height: 100%;
        img {
          width: 50%;
          height: auto;
        }
      }

      h2 {
        font-size: 5rem;
      }

      p {
        font-size: 2.4rem;
        line-height: 1.4;
      }
      li {
        font-size: 2.4rem;
        line-height: 1.5;
      }
      ul {
        margin: 0;
      }
    }

    .section-desc-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .section-img {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .section-desc {
        grid-column: 1;
        grid-row: 1;
      }
    }

    .section-desc {
      margin-left: 4rem;
    }

    .section-desc-2 {
      p,
      li {
        padding: 0.5rem 3rem;
      }
    }
    .section-desc-1,
    .section-desc-3 {
      flex-direction: row;
    }
  }
}
.card {
  visibility: hidden;
}
