<section class="hero">
  <h1 class="d-flex flex-row gap-4 align-items-center" #title>
    <img class="token-img" src="assets/new_iwt_logo.png" alt="" />
    Indowealth Token (IWT)
  </h1>
</section>
<section class="second-sec">
  <div #card class="card">
    <div class="section-desc">
      <p>
        The IndoWealth Token (“IWT”) is the proposed solution to further
        facilitate the democratisation of finance by offering the general public
        the opportunity to partake in highly lucrative large-scale projects
        typically made available only to institutional and ultra-high net worth
        individual investors by leveraging on digital assets’ capability to
        fractionalise assets, which enables investments at a significantly
        smaller (and thus, more affordable) level, independent of investors'
        existing wealth levels.
      </p>
    </div>
    <div class="section-desc">
      <h2>Key Features and Benefits</h2>
      <ul>
        <li>
          <span class="bold">Backed by Real-World Assets(RWAs):</span> Tokens
          will be backed by RWAs, where the entirety of the assets of the
          massive project are pledged to back the token.
        </li>
        <li>
          <span class="bold">High appreciation potential:</span>
          The transformative nature of the assets of the project backing IWT has
          been approved by the Indonesian government and is expected to increase
          the value of the pledged asset exponentially.
        </li>
        <li>
          <span class="bold">Transparent:</span>
          Token holders will have visibility of the ongoing status on the
          project as it evolves, via the user portal, enabling them to watch the
          value of their investment grow over time.
        </li>
        <li>
          <span class="bold">Powered by Solana blockchain: </span>
          Next-generation protocol which offers faster transaction speed and
          substantially lower transaction fees than rival blockchains (e.g.
          Ethereum).
        </li>
      </ul>
    </div>
  </div>
</section>
