.hero {
  min-height: calc(50vh - 8.8rem);
  width: 100%;
  background: linear-gradient(rgba(54, 29, 29, 0.6), rgba(54, 29, 29, 0.6)),
    url("/assets/tokens_bg.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    width: 25.7rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 768px) {
    background: url("/assets/hero_bg.svg") no-repeat center center center center;
    min-height: calc(50vh - 10rem);
    align-items: flex-start;
    text-align: left;
    padding-left: 3rem;
    padding-top: 8rem;
    h1 {
      font-size: 6rem;
      width: 49.5rem;
    }
  }
}

.second-sec {
  background: url("/assets/tokens_mobile_bg.svg");
  min-height: 27rem;
  width: 100%;
  background-size: cover;
  padding: 6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    background: rgba(209, 6, 0, 0.36);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #da9915;
    width: calc(100% - 1.5rem);
    padding: 2rem;
  }

  .section-desc:last-child {
    margin: 0;
  }
  .section-desc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
    h2 {
      font-weight: bold;
      font-size: 2rem;
      color: #da9915;
      text-align: start;
    }
    li {
      font-size: 1.2rem;
      font-family: "SourceSans3";
      color: #fff;
      list-style: circle;
    }
    ul {
      padding: 0;
      margin: 0;
    }
  }
  @media (min-width: 768px) {
    background: linear-gradient(rgba(54, 29, 29, 0.6), rgba(54, 29, 29, 0.6)),
      url("/assets/tokens_mobile_bg.svg");
    min-height: 44.7rem;
    .card {
      background: rgba(209, 6, 0, 0.36);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid #da9915;
      padding: 6rem;
      width: calc(100% - 2rem);
    }
    .section-desc {
      h2 {
        font-size: 5rem;
      }
      li {
        font-size: 2.4rem;
        line-height: 1.5;
      }
      ul {
        padding: 0;
        margin: 0;
      }
    }
  }
}
