<section
  class="hero"
  [ngStyle]="{
    '--hero-bg': 'url(' + tradingData?.heroBgUrl + ')',
    '--hero-small-bg': 'url(' + tradingData?.heroSmallBgUrl + ')'
  }"
>
  <h1 class="d-flex flex-row gap-4 align-items-center" #title>
    <img width="80" height="80" src="assets/token.svg" alt="" />
    $IWT
  </h1>
</section>
<section class="second-sec">
  <div #card class="card">
    <div class="section-desc">
      <h2>Benefits of pre-listed IWT</h2>
      <ul>
        <li>
          Profits of up to 10% per week are paid out in USDT weekly directly to
          your wallet.
        </li>
        <li>
          Get post-listed IWTs with a value of minimum 50% above purchase price.
        </li>
        <li>Profit margins are better than deals offered on platform.</li>
        <li>Only pay gas fees 1 time when purchasing IWT.</li>
        <li>No need to “Claim” or “Redeem” anything</li>
        <li>No need to register or create a new account.</li>
        <li>Targeted to list within 12 months.</li>
        <li>
          Early adopters can cash out after listing at a higher price as assets’
          value continue to grow.
        </li>
        <li>Can buy in at any amount.</li>
        <li>
          Backed by a strong basket of Real-World Assets (RWAs) portfolios.
        </li>
        <li>
          Handled by a professional team of traders and asset managers.auto
        </li>
      </ul>
    </div>
    <div class="section-desc">
      <h2>Benefits of post-listed IWT</h2>
      <ul>
        <li>
          Value is underpinned by large mega projects and investments from day
          one.
        </li>
        <li>
          Future value and realization of profit from all assets and investments
          are intrinsically locked-in with the value of IWT.
        </li>
        <li>
          Investors’ interests directly correlate and linked with interests of
          project owners whereby investors will continuously profit so long as
          project owners continue to grow value for themselves.
        </li>
        <li>
          Continuous value growth in tandem with the lifetime of project owners.
        </li>
        <li>
          Safeguarded by underlying dollar value of every token which represents
          ownership of interests in tangible RWAs.
        </li>
      </ul>
    </div>
  </div>
</section>
