<section class="hero"><h1 #title>Contact Us</h1></section>
<section class="second-sec">
  <div class="mobile-text">
    <h2 class="title">Contact Us</h2>
    <span class="desc"
      >Any question or remarks? Just<br />
      write us a message!</span
    >
  </div>
  <div #card class="card">
    <div class="red-card">
      <div class="text-group">
        <h1 class="title">Contact <br />Information</h1>
        <span class="desc">Say something to start a live chat!</span
        ><a href="mailto:" target="_blank" rel="noopener noreferrer"
          ><span class="icon"><img src="/assets/mail.png" alt="" /></span
        ></a>
      </div>
      <div class="social-icons">
        <img class="pointer" src="/assets/pointer.png" alt="" />
        <a
          href="https://x.com/indowealthgroup?s=21"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="icon" src="/assets/x.svg" alt="" /></a
        ><a
          href="https://t.me/IndoWealthOfficial"
          target="_blank"
          rel="noopener noreferrer"
          ><img class="icon" src="/assets/telegram.svg" alt=""
        /></a>
      </div>
      <div class="eclipses-mobile">
        <img
          class="eclipse eclipse-small"
          src="/assets/ellipse_white_mobile.png"
          alt=""
        /><img
          class="eclipse eclipse-big"
          src="/assets/ellipse_yellow_mobile.png"
          alt=""
        />
      </div>
      <div class="eclipses">
        <img
          class="eclipse eclipse-small"
          src="/assets/ellipse_white.png"
          alt=""
        /><img
          class="eclipse eclipse-big"
          src="/assets/ellipse_yellow.png"
          alt=""
        />
      </div>
    </div>
    <div>
      <form class="row g-5">
        <div class="col-md-6">
          <label for="fname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="fname" />
        </div>
        <div class="col-md-6">
          <label for="lname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lname" />
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="phone" />
        </div>
        <div class="col-12 message">
          <label for="message" class="form-label">Message</label>
          <input
            type="text"
            class="form-control"
            id="message"
            placeholder="Write your message..."
          />
        </div>
        <div class="col-12 d-flex">
          <button type="submit" class="btn btn-primary ml-auto">
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
