<section class="hero"><h1 #title>Vision</h1></section>
<section class="second-sec">
  <div class="section-desc">
    <img class="mobile-img" src="assets/eye2.svg" alt="" />
    <img class="desktop-img" src="assets/eye.svg" alt="" />
    <div #card class="card">
      <h2>Vision</h2>
      <p>
        IWT represents the vision of complete democratization and transparency
        where top money-making deals are no longer restricted merely to the
        wealthy and powerful but to every person with a crypto wallet and the
        initiative to make profits. IWT is an investment vehicle that aims to
        serve the everyday investor by opening up the same type of investment
        opportunities to them which are largely confined to big banks and hedge
        funds. By bridging this gap and tapping into the power of the everyday
        investor, large investment projects in a variety of asset types and
        industries can be democratized to allow such investors to enjoy the same
        benefits and profits as large institutions.
      </p>
    </div>
  </div>
</section>
