<section class="hero">
  <h1 #title>Mission</h1>
</section>
<section class="second-sec">
  <div class="section-desc">
    <img class="mobile-img" src="assets/arrow_mobile.jpg" alt="" />
    <img class="desktop-img" src="assets/arrow.jpg" alt="" />
    <div #card class="card">
      <h2>Mission</h2>
      <p>
        To build a token representing ownership of value in large-scale mega
        projects and investments and ensure its sustainability without
        interference from malignant third-party forces whilst ensuring value is
        constantly increased for token holders. To break the monopoly and
        ownership of megaprojects and high-level investments by large
        corporations, high net-worth individuals, and governments to ensure
        equality of opportunity is uncompromisingly achieved through translating
        and realising the concept of decentralisation into the real world. To
        overturn the current financial system practices where high net-worth
        entities are given every privilege, benefit and advantage with utmost
        ease of entry into top investment options while everyday investors are
        subjected to unending barriers to entry and made to pay every cost along
        the way with no certainty of ever being able to participate in such
        deals.
      </p>
    </div>
  </div>
</section>
