<app-loader *ngIf="isLoading"></app-loader>
<ng-container *ngIf="!isLoading">
  <app-header></app-header>
  <div id="content">
    <router-outlet></router-outlet>
    <app-footer class="footer"></app-footer>
    <div class="last-div">
      <span class="name">&#169; 2024 Indowealth Group</span>
      <span class="line"></span>
      <a
        class="term"
        href="assets/IndoWealth.group Terms of Use.pdf"
        target="_blank"
        >Terms of Use</a
      >
    </div>
  </div>
</ng-container>
