<section class="hero">
  <h1 #title>Blog & Announcements</h1>
</section>
<section class="second-sec">
  <div class="section-desc">
    <!-- Skeleton Loader (shown when blog content is loading) -->
    <spartan-skeleton-preview *ngIf="isLoading"></spartan-skeleton-preview>

    <!-- Blog Content (shown when content is loaded) -->
    <ng-container *ngIf="!isLoading">
      <img
        class="mobile-img"
        [src]="blog?.mobileImage.asset.url"
        alt="{{ blog?.title }}"
      />
      <img
        class="desktop-img"
        [src]="blog?.desktopImage"
        alt="{{ blog?.title }}"
      />
      <div #card class="card">
        <h2>{{ blog?.title }}</h2>
        <p>{{ blog?.content }}</p>
      </div>
    </ng-container>
  </div>
</section>
