<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <p-header>
    <div class="flex items-center">
      <!-- Tailwind class for the author image to be round and larger -->
      <img
        class="w-16 h-16 rounded-full mr-4"
        [src]="blog?.author?.image?.asset?._ref | sanityImage"
        alt=""
      />
      <h4 class="text-xl font-semibold">{{ blog?.author?.name }}</h4>
    </div>
  </p-header>
  <p class="!text-lg text-gray-700">
    {{ blog?.author?.bio[0].children[0].text }}
  </p>
</p-dialog>

<section class="hero">
  <h1 #title>Blog & Announcements</h1>
</section>
<section class="second-sec">
  <div class="section-desc">
    <!-- Skeleton Loader (shown when blog content is loading) -->
    <spartan-skeleton-preview *ngIf="isLoading"></spartan-skeleton-preview>

    <!-- Blog Content (shown when content is loaded) -->
    <ng-container *ngIf="!isLoading">
      <img
        class="mobile-img"
        [src]="blog?.mobileImage?.asset?.url"
        alt="{{ blog?.title }}"
      />
      <img
        class="desktop-img"
        [src]="blog?.desktopImage?.asset?.url"
        alt="{{ blog?.title }}"
      />
      <div #card class="card">
        <p
          *ngIf="blog?.author?.name"
          class="flex items-center cursor-pointer text-start self-end mb-4"
          (click)="showDialog()"
        >
          <img
            class="w-16 h-16 rounded-full mr-4"
            [src]="blog?.author?.image?.asset?._ref | sanityImage"
            alt=""
          />
          <i class="whitespace-nowrap ml-4">{{ blog?.author.name }}</i>
        </p>
        <h2>{{ blog?.title }}</h2>

        <p [innerHTML]="blog?.body | portableText"></p>
      </div>
    </ng-container>
  </div>
</section>
