<section class="hero">
  <h1 #title>Blog & Announcements</h1>
</section>
<section class="second-sec">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full gap-y-14">
    <!-- Skeletons to show while loading -->
    <ng-container *ngIf="isLoading; else blogList">
      <spartan-skeleton-preview
        class="flex items-center p-4 md:m-4 w-full space-x-4"
      ></spartan-skeleton-preview>
      <spartan-skeleton-preview
        class="flex items-center p-4 md:m-4 w-full space-x-4"
      ></spartan-skeleton-preview>
    </ng-container>

    <!-- Blog List -->
    <ng-template #blogList>
      <div
        class="flex flex-col md:flex-row bg-white dark:bg-card rounded-lg shadow-lg overflow-hidden w-full card"
        *ngFor="let blog of blogs"
      >
        <div class="relative md:w-1/2">
          <img
            [src]="blog.mobileImage.asset.url"
            alt="{{ blog.title }}"
            class="w-full h-full object-cover"
          />
          <h2
            class="absolute bottom-4 left-4 font-bold text-white px-2 py-1 rounded"
          >
            {{ blog.title }}
          </h2>
        </div>
        <div
          class="md:w-1/2 px-6 py-8 bg-indo text-white flex flex-col justify-between"
        >
          <p class="text-base mb-6">
            {{ blog?.body[0]?.children[0]?.text | slice : 0 : 150 }}...
          </p>
          <div class="flex justify-end">
            <a
              [routerLink]="['/blogs', blog.slug?.current]"
              class="px-4 py-2 rounded-lg"
            >
              Read More
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
