.hero {
  min-height: calc(50vh - 8.8rem);
  width: 100%;
  background: url("/assets/token_hero_mobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    width: 25.7rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1.5rem;
    white-space: nowrap;
  }
  @media (min-width: 768px) {
    background: url("/assets/blog_hero.jpg") no-repeat center center;
    background-size: cover;
    min-height: calc(50vh - 10rem);
    align-items: flex-start;
    text-align: left;
    padding-left: 5%;
    padding-top: 8rem;
    h1 {
      font-size: 10rem;
      width: 49.5rem;
    }
  }
}

.second-sec {
  background: #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  .card {
    max-height: 65.3rem;
  }
  h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.6rem;
    font-family: "source-sans-pro-semi-bold";
  }
  button {
    background-color: #da9915;
    width: 13rem;
    height: 4.1rem;
    border-radius: 5px;
    font-family: "source-sans-pro-bold";
    font-size: 1.6rem;
  }
  .bg-indo {
    background-color: #d10600;
    padding: 3rem 2rem;
  }
  @media (min-width: 768px) {
    background: #fff;
    height: auto;
    padding: 5%;
    .card {
      max-height: 42rem;
    }

    .bg-indo {
      background-color: #d10600;
      padding: 4rem 2rem;
    }
  }
}
