/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url("assets/Orbitron/static/Orbitron-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("assets/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "source-sans-pro";
  src: url("assets/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "SourceSans3";
  src: url("assets/Source_Sans_3/static/SourceSans3-Regular.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Orbitron-Regular" !important;
  font-size: 62.5%;
  background-color: #d10600;
  scroll-behavior: smooth;
}

p {
  font-family: "SourceSans3" !important;
}

* {
  box-sizing: border-box;
}
