/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url("assets/Orbitron/static/Orbitron-Regular.ttf");
}

@font-face {
  font-family: "Orbitron-Bold";
  src: url("assets/Orbitron/static/Orbitron-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("assets/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "source-sans-pro";
  src: url("assets/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "source-sans-pro-bold";
  src: url("assets/source-sans-pro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "source-sans-pro-semi-bold";
  src: url("assets/source-sans-pro/SourceSansPro-Semibold.ttf");
}

@font-face {
  font-family: "SourceSans3";
  src: url("assets/Source_Sans_3/static/SourceSans3-Regular.ttf");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("assets/Bebas_Neue/BebasNeue-Regular.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Orbitron-Regular" !important;
  font-size: 62.5%;
  background-color: #d10600;
  scroll-behavior: smooth;
}

p {
  font-family: "source-sans-pro-semi-bold" !important;
  line-height: 3rem !important;
  @media (max-width: 768px) {
    font-size: 1.7rem !important;
  }
}

li {
  line-height: 3rem !important;
}

ul,
ol {
  padding-left: 1rem !important; /* Removes left padding */
  margin-left: 0 !important; /* Removes left margin */
  list-style-position: inside !important; /* Ensures bullets stay inside the list's boundary */
}

p::after {
  content: "";
  display: inline-block;
  width: 100%; /* Forces the last line to justify better */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BebasNeue-Regular" !important;
}

* {
  box-sizing: border-box;
}
