.hero {
  min-height: calc(100vh - 8.8rem);
  width: 100%;
  background: url("/assets/home_hero_mobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    width: 30.7rem;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background: #da9915;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 2rem;
    font-family: "source-sans-pro-bold";
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 20rem;
    height: 4.9rem;

    img {
      margin-left: 1rem;
    }

    &:hover {
      box-shadow: 0 0 15px rgba(218, 153, 21, 0.6); /* Glow effect matching the button color */
      transform: scale(1.05); /* Slightly expand the buton */
    }
  }

  @media (min-width: 768px) {
    background: url("/assets/home_hero.png") no-repeat center center;
    background-size: cover;
    min-height: calc(100vh - 6rem);
    align-items: center;
    text-align: center;

    h1 {
      width: 70rem;
      font-size: 7rem;
      margin-bottom: 1rem;
      line-height: 1;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      width: 50%rem;
      font-size: 10rem;
    }
  }
}

.second-sec {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 0 1rem;
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: start;
    background: none;
    width: 100%;
    height: 80%;
    padding: 4rem 3rem 3rem 3rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(215, 228, 229, 0.75);
    box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid #da9915;
    img {
      height: 20rem;
    }
  }

  .section-img {
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .section-desc {
    width: 80%;
    text-align: start;
    flex-direction: column;
    margin-bottom: 4rem;
    display: flex;
    align-items: start;
    justify-self: center;
    h2 {
      font-weight: bold;
      font-size: 2rem;
      color: #da9915;
    }
    p {
      font-size: 1.4rem;
      color: #000;
      margin-top: 1rem;

      a {
        color: #da9915;
        font-weight: bold;
        font-family: "source-sans-pro-bold";
        text-decoration: none;
      }
    }
  }
  @media (min-width: 768px) {
    background: #fff;
    height: 100vh;
    flex-direction: row;
    padding: 0 3rem;
    .card {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(215, 228, 229, 0.75);
      box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      border: 1px solid #da9915;
      padding: 4rem;
      width: calc(100% - 10rem);
      height: 80%;
      img {
        height: 35rem;
      }
    }
    .section-img {
      grid-column: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .section-desc {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      grid-column: 1;
      grid-row: 1;
      a {
        cursor: pointer;
        font-size: 2.6rem;
        font-family: "source-sans-pro-bold";
        font-weight: bold;
      }
      h2 {
        font-size: 5rem;
        margin-bottom: 1rem;
        text-align: start;
      }
      p {
        font-size: 2.4rem;
        line-height: 1.4;
        max-width: 68.5rem;
      }
    }
  }
}

.corner-svg {
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
