<section
  class="hero"
  [ngStyle]="{
    '--hero-bg': 'url(' + homeData?.heroBgUrl + ')',
    '--hero-small-bg': 'url(' + homeData?.heroSmallBgUrl + ')'
  }"
>
  <h1 #title>Welcome To Indowealth Group</h1>
  <!-- <button #btn class="hero-btn">Get Started</button> -->
</section>

<section class="second-sec">
  <div #card class="card">
    <div #img class="section-img"><img src="assets/logo3.PNG" alt="" /></div>
    <div #desc class="section-desc">
      <h2>About Us</h2>
      <p>
        The Indowealth Group is made up of, and administered by, a group of
        professionals across multiple jurisdictions with a large range of
        expertise and qualifications in fields such as investment banking,
        blockchain IT, financial advisory, entrepreneurship and more who have
        come together to realize a shared vision. 
        <a routerLink="/about">...Read more</a>
      </p>
    </div>
  </div>
</section>
