<section class="hero">
  <h1 #title>Welcome to Indowealth Group</h1>
  <button #button class="hero-btn">Get Started</button>
</section>

<section class="second-sec">
  <img src="assets/G.svg" alt="Top Left Corner" class="corner-svg top-left" />
  <img src="assets/D.svg" alt="Top Right Corner" class="corner-svg top-right" />
  <img
    src="assets/S.svg"
    alt="Bottom Left Corner"
    class="corner-svg bottom-left"
  />
  <img
    src="assets/A.svg"
    alt="Bottom Right Corner"
    class="corner-svg bottom-right"
  />
  <div #card class="card">
    <div #img class="section-img"><img src="assets/logo.png" alt="" /></div>
    <div #desc class="section-desc">
      <h2>About Us</h2>
      <p>
        The IndoWealth Group is made up of, and administered by, a group of
        professionals across multiple jurisdictions with a large range of
        expertise and qualifications in fields such as investment banking,
        blockchain IT, financial advisory, entrepreneurship and more who have
        come together to realize a shared vision. 
        <a routerLink="/about">...Read More</a>
      </p>
    </div>
  </div>
</section>
