<section class="hero">
  <h1 #title class="text-[4rem] md:text-[7rem] lg:text-[10rem]">
    Welcome To <br />
    Indowealth Group
  </h1>
  <a
    #btn
    href="https://www.bitmart.com/trade/en-US?symbol=IWT_USDT"
    class="hero-btn"
    target="_blank"
    >Get Started</a
  >
</section>

<section class="second-sec">
  <div #card class="card">
    <div #img class="section-img"><img src="assets/logo3.PNG" alt="" /></div>
    <div #desc class="section-desc">
      <h2>About Us</h2>
      <p class="text-[1.4rem] md:text-[2rem] lg:text-[2.4rem]">
        The Indowealth Group is made up of, and administered by, a group of
        professionals across multiple jurisdictions with a large range of
        expertise and qualifications in fields such as investment banking,
        blockchain IT, financial advisory, entrepreneurship and more who have
        come together to realize a shared vision. 
        <a routerLink="/about">...Read more</a>
      </p>
    </div>
  </div>
</section>
