<section class="hero">
  <h1 class="d-flex flex-row gap-4 align-items-center" #title>NBC LAND</h1>
</section>
<section class="second-sec">
  <div #card class="card">
    <div class="section-desc">
      <h2>
        New Batam Centre Land Reclamation and Development Project (“NBC Land”)
      </h2>
      <p>
        NBC Land will be located on the north-eastern tip of the island, where
        100 hectares of land will be reclaimed, of which 13 hectares will be
        used for construction of a ferry terminal to replace the existing ferry
        terminal of 0.9 hectares (See: Figure 1&2).
      </p>
      <img class="desc-img" src="/assets/nbc1.png" alt="" />
      <i
        >Figure 1: Location of Main Transportation Infrastructure on Batam
        Island
      </i>
      <img class="desc-img" src="/assets/nbc2.png" alt="" />
      <i>Figure 2: Location Plans for the Project </i>
    </div>
    <div class="section-desc">
      <h2>Project Development Plans</h2>
      <img class="desc-img" src="/assets/nbc3.png" alt="" />
      <i>Figure 3: Development Plans for the Project </i>
      <img class="desc-img" src="/assets/nbc4.png" alt="" />
      <i>Figure 4a: Architectural Planning and Design </i>
      <img class="desc-img" src="/assets/nbc5.png" alt="" />
      <i>Figure 4b: Architectural Planning and Design </i>
      <p>
        NBC Land shall be developed as a meticulously curated, self-contained
        tropical island paradise with world-class amenities of all kinds catered
        towards high-net-worth individuals and families, corporations and
        tourists, serving as a centre for all forms of tourism, including
        medical tourism [1], and well positioned as a highly competitive
        alternative to the neighbouring Singaporean real estate market.
        Execution of NBC Land will be led by China Communications Construction
        Company Limited (“CCCC”), an expert in land reclamation and civil
        infrastructure, via its regional subsidiary incorporated in Malaysia,
        CCCC Dredging Southeast Asia Sdn Bhd (“CDSA”), in partnership with
        Indonesia-incorporated PT Synergy Tharada (“PT Synergy”), the local
        partner holding the rights and licenses required to execute the project.
        CCCC’s projects in the Southeast Asian region are executed by its
        regional entity, CDSA which has substantial experience in infrastructure
        and reclamation projects [2], and will be acting as the project manager
        for the reclamation works and infrastructural development of the island
        and funding arrangement, where it has historically successfully executed
        multi-billion-dollar projects in the region and maintains strong access
        to sources of funding both via China’s strong baking institutions and
        internationally. The Gross Development Value (GDV) of the Project is
        estimated at USD3.2 billion, with a total projected GDV of USD17.8
        billion on final completion (see Appendix 1: Construction Details).
        Demand is expected to benefit from the robust value proposition:
      </p>
      <ul>
        <li>
          <span class="bold">Strategic Location:</span> on the busy Melaka
          Strait shipping route, with international transportation amenities in
          the form of ferry, international airport and port, where historically
          there have been a large number of Singaporean tourists, which
          comprised over 50% of Batam’s international visitors.
        </li>
        <li>
          <span class="bold"
            >World class construction quality and amenities:</span
          >
          across the entire island, with carefully curated landscaped parks and
          public facilities.
        </li>
        <li>
          <span class="bold"
            >From luxury to ultra luxury residential real estate:</span
          >
          as an alternative to Singapore property ownership for Singaporeans,
          where Housing Development Board (HDB) apartment units’ average cost of
          USD4.7k/m², with landed property costing at least USD13.8k/m² [1,2].
        </li>
        <li>
          <span class="bold">Grade A commercial real estate and offices: </span>
          where Batam remains an attractive destination for businesses, with
          USD800m earmarked for investment by businesses setting up in Batam [1]
          further noting the commercial real estate and offices which will be
          made available via the Project will be vastly superior to the existing
          offerings in Batam (e.g. in terms of build quality, energy saving,
          amenities, etc.).
        </li>
      </ul>
      <img class="desc-img" src="/assets/nbc_table2.png" alt="" />
      <p>
        The Project offers a stronger value proposition given the offering of
        similar world-class amenities at a lower pricing point (compared to
        Singapore and other similar top tier global developments), moderate
        weather (compared to the UAE) and special economic zone (which will
        boost demand, on the back of industry growth).
      </p>
    </div>
    <div class="section-desc">
      <h2>China Communications Construction Company Limited ("CCCC")</h2>
      <p>
        CCCC
        <a
          href="https://en.ccccltd.cn/"
          target="_blank"
          rel="noopener noreferrer"
          >(https://en.ccccltd.cn/)</a
        >
        is a China majority state-owned enterprise with more than 100 years of
        experience noting China’s position as the largest area of reclaimed land
        in the world at 4,600 square miles [1], and is a leading global
        comprehensive service provider of ultra-large infrastructure engaged in
        the investment, construction and operation of transportation
        infrastructure, equipment manufacturing, real estate and urban
        comprehensive development, providing customers with investment
        financing, consulting planning, design and construction, management and
        operation package solutions and integrated services and claims to be the
        world's largest port design and construction company, the world's
        largest highway and bridge design and building company, the world's
        largest dredging company, the world's largest container crane
        manufacturing company and the world's largest offshore oil drilling
        platform design company; it also has the title of China's largest
        international engineering contracting company and China's largest
        expressway investors.
      </p>
    </div>
    <div class="section-desc">
      <h2>PT Synergy Tharada (“PT Synergy”)</h2>
      <p>
        PT Synergy is a subsidiary of the Synergy Group
        (https://www.sinergy.web.id/#) was contracted with the construction and
        management with the BOT (Build, Operation and Transfer) system of Batu
        Ampar Passenger Ferry Port, Batam Island (which was later converted into
        a Container Port) with the Batam Authority. The Batam Centre Ferry
        Terminal ferries passengers between Singapore and Malaysia (and vice
        versa), where PT Synergy has transitioned the ferry terminal from a port
        into an integrated business centres on Batam Island.
      </p>
    </div>
    <div class="section-desc">
      <h2>WDS Consultancy Pte Lt (“WDS”)</h2>
      <p>
        WDS (https://wdsdesign.sg/) is an international multidisciplinary design
        firm providing consultancy services for architecture, interior design,
        landscape master planning and urban design in the Asian region and
        beyond, with numerous international projects such as the Masterplan of
        Funtasy Island Batam Indonesia, Hai Tang Bay, Sanya, China Masterplan
        for a Rice Museum, Indoor Garden and Mall, Glorificaraguay, a strategic
        planning for the Republic of Paraguay. Masterplan of Villa Florida in
        Asuncion, Bali Airport City and the likes.
      </p>
    </div>
  </div>
</section>
